thumb-size = 15px;
track-height = 10px;

track() {
  width: 100%;
  height: track-height;
  background: linear-gradient(#fcfcfc, #e1e1e1), #fff;
  border-radius: track-height;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-size: 0% 100%;
  background-clip: padding-box;
  background-repeat: repeat-y;
}

thumb() {
  width: thumb-size;
  height: thumb-size;
  background: #bbb;
  border-radius: (thumb-size / 2);
  border: 1px solid #999;
  margin-top: -((thumb-size - track-height) / 2) - 1;
  cursor: pointer;
}

.range__control {

  position: relative;
  background: transparent;
  margin: 0;
  padding: 0.8em;
  cursor: pointer;
  border-radius: 1.6em;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  transition: background 0.4s,  box-shadow 0.4s;

  &::-webkit-slider-runnable-track {
    track();
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    thumb();
  }

  &::-moz-range-track {
    track();
  }

  &::-moz-range-thumb {
    thumb();
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px #aaa;
    background: #fafafa;
  }

}
