range-thumb-size = 15px;
range-track-height = 10px;

range-track() {
  width: 100%;
  height: range-track-height;
  background: linear-gradient(#fcfcfc, #e1e1e1), #fff;
  border-radius: range-track-height;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  background-size: 0% 100%;
  background-clip: padding-box;
  background-repeat: repeat-y;
}

range-thumb() {
  width: range-thumb-size;
  height: range-thumb-size;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #999;
  margin-top: -((range-thumb-size - range-track-height) / 2) - 1;
  cursor: pointer;
}

.range__control {

  position: relative;
  background: transparent;
  margin: 0;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  transition: background 0.4s, box-shadow 0.4s;

  &::-webkit-slider-runnable-track {
    range-track();
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    range-thumb();
  }

  &::-moz-range-track {
    range-track();
  }

  &::-moz-range-thumb {
    range-thumb();
  }

  &::-ms-track {
    range-track();
    color: transparent;
    background: transparent;
    height: range-track-height * 2 - 1;
  }

  &::-ms-thumb {
    range-thumb();
    margin-top: -((range-thumb-size - range-track-height) / 2) + 2;
  }

  &::-ms-fill-lower {
    background: linear-gradient(#fcfcfc, #e1e1e1), #fff;
    border-radius: range-track-height 0 0 range-track-height;
  }

  &::-ms-fill-upper {
    background: #fff;
    border-radius: 0 range-track-height range-track-height 0;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px #aaa;
    background: #fafafa;
  }

}
