.demo__header {
  margin: 0;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  box-sizing: border-box;
  text-align: center;
  background: #ffdb4d;
  color: #6c3b1b;
  text-shadow: 0 1px 0 #fff1bb;
}
