.range__value_type_tooltip {
  position: absolute;
  display: none;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  bottom: -35px;
  z-index: 1;

  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
  }

  &:before {
    border-color: rgba(119, 119, 119, 0);
    border-bottom-color: #ccc;
    border-width: 8px;
    margin-left: -8px;
  }
}