.range__control_show-tooltip:focus {
  &::-webkit-slider-thumb:after {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
    content:'1234';
    z-index: 1;
  }
}
